#app {
  font-family: Source Sans Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02rem;
}

body {
  margin: 0;
  color: #eee;
  background-color: #333;
}

button{
    font-family: inherit;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #009fd9;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover{
        background-color: #009fd9CC;
        transform: scale(1.05);
    }

    &:active:hover {
        transform: scale(0.95);
      }
}