#app {
  font-family: Source Sans Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02rem;
}

body {
  margin: 0;
  color: #eee;
  background-color: #333;
  min-width: 375px;
}